.ethspeed-label {
  font-family: System;
}

.ethspeed-ok {
  background-color: green;
  color: white;
}

.ethspeed-low {
  background-color: orange;
  color: darkred;
}

.ethspeed-error {
  background-color: red;
  color: white;
}

